# Pengaturan Database Hostinger (MySQL)
# Dapatkan detail ini dari Hostinger -> Databases -> Management
DATABASE_URL="mysql://u123456789_user:password_anda@localhost:3306/u123456789_database_name"

# Pengaturan Keamanan (NextAuth)
# Bisa generate random string di terminal: openssl rand -base64 32
AUTH_SECRET="masukkan_kode_rahasia_acak_yang_panjang_disini"
AUTH_TRUST_HOST="true"

# URL Utama Website Anda
NEXTAUTH_URL="https://domain-anda.com"
